<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Text converter</h1>
    <form method="post" action="/">
        <div>
            <label for="input">Input text:</label>
            <input type="input" id="input" name="input" required>
        </div>
        <div>
            <button type="submit">Convert</button>
        </div>
    </form>
    {% if input %}
        <p>Converted text: <b>{{ input }}</b></p>
    {% endif %}
</body>
</html>